*/Cargo.lock
contracts/*/target
contracts/adapters/*/target
contracts/*/*/test_snapshots
contracts/*/test_snapshots
contracts/adapters/*/target
contracts/adapters/*/test_snapshots
/target/
/.sccache/
.DS_Store
.soroban
node_modules/
.env
/dist
