[submodule "protocols/soroswap"]
	path = protocols/soroswap
	url = https://github.com/soroswap/core
[submodule "protocols/phoenix-contracts"]
	path = protocols/phoenix-contracts
	url = https://github.com/Phoenix-Protocol-Group/phoenix-contracts/
